{% extends "base.html" %}

{% block title %}Contact - Cameron Ela{% endblock %}

{% block content %}
    <h1>Contact Information</h1>
    <div class="contact-info">
        <p>
            School Email: <a href="mailto:cela1@jh.edu" target="_blank">cela1@jh.edu</a><br>
            LinkedIn: <a href="https://www.linkedin.com/in/cameron-ela/" target="_blank">linkedin.com/in/cameron-ela/</a><br>
            School GitHub: <a href="https://github.com/cela-jh" target="_blank">github.com/cela-jh</a><br>
            Time Zone: Pacific Time (PDT, PST)
        </p>
    </div>
{% endblock %}