{% extends "base.html" %}

{% block title %}Projects - Cameron Ela{% endblock %}

{% block content %}
    <h1>Projects</h1>
    <h3>Personal Website Project (you are here!)</h3>
    <p>
        This is a personal website built using Flask. The basic core pages (Home, Contact, and Projects)
        belong to a single Blueprint, leaving room for additional Blueprints in the future if the site is expanded.
        The styling and theme of this site is inspired by the <a href="https://www.usc.edu/">USC</a> website.<br>
        <strong>Link:</strong> <a href="https://github.com/cela-jh/jhu_software_concepts/tree/main/module_1" target="_blank">github.com/cela-jh/jhu_software_concepts/tree/main/module_1</a>
    </p>
{% endblock %}
