<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Module 3 Analysis</title>
</head>
<body>
    <header>Cameron Ela - Module 3 Grad School Cafe Data Analysis</header>
    <hr class="divider">
    <h1>Analysis</h1>
    <div class="results">
        {% for question, answer in results %}
        <div class="result-box">
            <p class="question">{{ question }}</p>
            <p class="answer">Answer: {{ answer }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
